*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    margin: 0.7rem;
}
form{
    display: flex;
    justify-content: center;
}
.container{
    background-color: white;
    width: 50%;
    padding: 2rem;
    border-radius: 6px;
}
input, button{
    padding: 0.4rem 1rem;
    margin: 0.3rem;
}
input{
    background-color: lightgray;
    border: none;
    width: 70%;
}
.btn{
    background-color: aquamarine;
    border-color: aquamarine;
    font-weight: 600;
    width: 30%;
}
.error-msg{
    text-align: center;
    margin: 1rem;
    padding: 0.2rem 0.9rem;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}